@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto&family=Volkhov&family=Yesteryear&display=swap');


body {
    font-family: "Poppins";
}

h1,
h2,
h3,
h4 {
    font-family: "Volkhov";
}


/* From Uiverse.io by LightAndy1 */
.signin {
    /* float: right; */
    max-width: 320px;
    display: flex;
    padding: 0.5rem 0.9rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-align: center;
    font-family: "Poppins";
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid blue;
    gap: 0.75rem;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
}

.signin:hover {
    transform: scale(1.025);
    background-color: #3f3f3f;
    color: #fff;
}

.signin:active {
    transform: scale(0.975);
}

button img {
    height: 24px;
    width: auto;
}


/* From Uiverse.io USER Name Input*/
.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 100%;
    border: none;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #000000 solid;
    display: block;
    width: 100%;
    /* padding: 15px 0; */
    font-size: 18px;
    /* color: #fff; */
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: #808080;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 10px;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: transparent;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: #535353;
    transform: translateY(-40px);
}
