@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto&family=Volkhov&family=Yesteryear&display=swap');

body {
    font-family: "Poppins";
}

.navbar-brand {
    font-family: "Volkhov";
}

.navbar-nav .nav-item {
    font-family: "Poppins";
    font-weight: 500;
    padding-right: 10px;
}

h1,
h2,
h3,
h4 {
    font-family: "Volkhov";
}


/* From Uiverse.io by krlozCJ */
.Uicontainer {
    position: relative;
    --size-button: 40px;
    color: white;
}


.input {
    padding-left: 37px;
    height: var(--size-button);
    font-size: 15px;
    border: none;
    color: #fff;
    outline: none;
    width: var(--size-button);
    transition: all ease 0.3s;
    background-color: #191A1E;
    border-radius: 50px;
    cursor: pointer;
}

.input:hover {
    background-color: #ff9913 !important;
}

.input:focus,
.input:not(:invalid) {
    width: 200px;
    cursor: text;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus+.icon,
.input:not(:invalid)+.icon {
    pointer-events: all;
    cursor: pointer;
}

.container .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: 0;
    left: 0;
    padding: 8px;
    pointer-events: none;
}

.container .icon svg {
    width: 100%;
    height: 100%;
}



/* popup settings 👆 */

.popup {
    display: inline-block;
    text-rendering: optimizeLegibility;
    position: relative;
    padding: 10px;
    border-radius: 50%;
}

.popup:hover {
    background-color: #ff9913 !important;
}

.popup input {
    display: none;
}

.burger {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: var(--burger-bg);
    width: var(--burger-diameter);
    height: var(--burger-diameter);
    border-radius: var(--burger-btn-border-radius);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: var(--burger-transition);
    outline: var(--burger-enable-outline-width) solid transparent;
    outline-offset: 0;
}

.popup-window {
    transform: scale(var(--nav-default-scale));
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 10px;
    font-family: var(--nav-font-family);
    border-radius: 12px;
    border: var(--nav-border-width) solid var(--nav-border-color);
    top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
    left: 0px;
    transition: var(--burger-transition);
    margin-top: 12px;
    background-color: #3f3f3f;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width:600px) {
    .popup-window {
        left: -60px;
    }

    .popup,
    .Uicontainer,
    .favIcon,
    .btn-cart {
        visibility: hidden;
    }

    .navbar-toggler {
        position: absolute;
        right: 20px;
        top: 10px;
    }

}

.popup-window legend {
    margin: 0;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.popup-window ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.popup-window ul a {
    outline: none;
    width: 100%;
    border: none;
    background: none;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    column-gap: 10px;
    text-decoration: none;
}

.popup-window ul li:nth-child(1) svg,
.popup-window ul li:nth-child(2) svg {
    color: #00bf63;
}

.popup-window ul li:nth-child(4) svg,
.popup-window ul li:nth-child(5) svg {
    color: rgb(153, 153, 153);
}

.popup-window ul li:nth-child(7) svg {
    color: red;
}

/* actions */

.popup-window ul a:hover,
.popup-window ul a:focus-visible,
.popup-window ul a:hover svg,
.popup-window ul a:focus-visible svg {
    color: var(--nav-button-hover-text-color);
    background: var(--nav-button-hover-bg);
}

.burger:hover {
    transform: scale(var(--burger-hover-scale));
}

.burger:active {
    transform: scale(var(--burger-active-scale));
}

.burger:focus:not(:hover) {
    outline-color: var(--burger-enable-outline-color);
    outline-offset: var(--burger-enable-outline-offset);
}

.popup input:checked+.burger span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.popup input:checked+.burger span:nth-child(2) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.popup input:checked+.burger span:nth-child(3) {
    transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
}

.popup input:checked~nav {
    transform: scale(var(--nav-active-scale));
    visibility: visible;
    opacity: 1;
}


.navbar .favIcon {
    font-size: 25px;
    position: relative;
    left: 10px;
    top: 8px;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    padding: 0px 10px;
    transition: all 0.4s;
}

.favIcon:hover {
    color: white;
    background-color: #ff9913;
}


/* From Uiverse.io by Julian956 */
.btn-cart {
    border-radius: 10px;
    border: none;
    background-color: black;
    position: relative;
    border-radius: 50%;
    padding: 8px 10px;
}

.btn-cart:hover {
    background-color: #ff9913;
}

.icon-cart {
    width: 23px;
    height: 25px;
    transition: .2s linear;
}


.icon-cart path {
    fill: #fff;
    transition: .2s linear;
}

.btn-cart:hover>.icon-cart {
    transform: scale(1.2);
}

.btn-cart:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
}

.quantity {
    display: none;
}

.product-card img {
    width: 100%;
    height: fit-content;
    object-fit: fill;

}

.product-card .product-name {
    font-size: 1rem;
    font-weight: 600;
}

.pagination {
    justify-content: center;
}

footer .navbar-nav li a:hover {
    color: #ff9913 !important;
}

@media only screen and (max-width:600px) {
    footer .navbar-nav {
        text-align: center;
        flex-direction: column !important;
    }
}