<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
        integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Product Details Page</title>
</head>

<body>

    <div class="container-fluid p-0 overflow-hidden">

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="./index.html">
                    <h2>FASCO</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                                href="../Shop Page/index.html">Shop</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="../Shop Page/index.html">Products</a>
                        </li>
                        <li class="nav-item">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <button class="btn btn-transparent dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Dropdown
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-light">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <form class="ms-5">
                    <!-- /* From Uiverse.io Search_Icon */ -->
                    <div class="Uicontainer">
                        <input type="text" name="text" class="input" required="" placeholder="Type to search...">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                <title>Search</title>
                                <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"
                                    fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
                                    stroke-width="32" d="M338.29 338.29L448 448"></path>
                            </svg>
                        </div>
                    </div>
                </form>


                <!-- /* From Uiverse.io Login & SignUp */ -->
                <label class="popup bg-dark ms-2">
                    <input type="checkbox" />
                    <div tabindex="0" class="burger">
                        <svg viewBox="0 0 24 24" fill="white" height="20" width="20" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z">
                            </path>
                        </svg>
                    </div>
                    <nav class="popup-window">
                        <legend>Quick Start</legend>
                        <ul>
                            <li>
                                <a href="../Sign In page/index.html">
                                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="1.2" stroke-linecap="round" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19 4v6.406l-3.753 3.741-6.463-6.462 3.7-3.685h6.516zm2-2h-12.388l1.497 1.5-4.171 4.167 9.291 9.291 4.161-4.193 1.61 1.623v-12.388zm-5 4c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1zm0-1c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm6.708.292l-.708.708v3.097l2-2.065-1.292-1.74zm-12.675 9.294l-1.414 1.414h-2.619v2h-2v2h-2v-2.17l5.636-5.626-1.417-1.407-6.219 6.203v5h6v-2h2v-2h2l1.729-1.729-1.696-1.685z">
                                        </path>
                                    </svg>
                                    <span>Log In</span>
                                </a>
                            </li>
                            <li>
                                <a href="../sign up page/index.html">
                                    <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="1" stroke-linecap="round" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M2.598 9h-1.055c1.482-4.638 5.83-8 10.957-8 6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5c-5.127 0-9.475-3.362-10.957-8h1.055c1.443 4.076 5.334 7 9.902 7 5.795 0 10.5-4.705 10.5-10.5s-4.705-10.5-10.5-10.5c-4.568 0-8.459 2.923-9.902 7zm12.228 3l-4.604-3.747.666-.753 6.112 5-6.101 5-.679-.737 4.608-3.763h-14.828v-1h14.826z">
                                        </path>
                                    </svg>
                                    <span>Sign Up</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </label>

                <p class="favIcon">&star;</p>

                <div class="ms-3">
                    <!-- /* From Uiverse.io by Julian956 */ -->
                    <a href="../Shopping Cart/index.html" data-quantity="0" class="btn-cart">
                        <svg class="icon-cart" viewBox="0 0 24.38 30.52" xmlns="http://www.w3.org/2000/svg">
                            <title>icon-cart</title>
                            <path transform="translate(-3.62 -0.85)"
                                d="M28,27.3,26.24,7.51a.75.75,0,0,0-.76-.69h-3.7a6,6,0,0,0-12,0H6.13a.76.76,0,0,0-.76.69L3.62,27.3v.07a4.29,4.29,0,0,0,4.52,4H23.48a4.29,4.29,0,0,0,4.52-4ZM15.81,2.37a4.47,4.47,0,0,1,4.46,4.45H11.35a4.47,4.47,0,0,1,4.46-4.45Zm7.67,27.48H8.13a2.79,2.79,0,0,1-3-2.45L6.83,8.34h3V11a.76.76,0,0,0,1.52,0V8.34h8.92V11a.76.76,0,0,0,1.52,0V8.34h3L26.48,27.4a2.79,2.79,0,0,1-3,2.44Zm0,0">
                            </path>
                        </svg>
                        <span class="quantity"></span>
                    </a>
                </div>
            </div>
        </nav>


        <!-- Hero Section  -->

        <div class="container my-5">
            <div class="row">
                <!-- Product Image Gallery -->
                <div class="col-md-6">
                    <img src="./images/product6.png" alt="Denim Jacket" class="img-fluid mb-3">
                    <div class="d-flex flex-wrap">
                        <img src="./images/product3.png" class="thumbnail-img" alt="Thumbnail 1">
                        <img src="./images/product4.png" class="thumbnail-img" alt="Thumbnail 2">
                        <img src="./images/product5.png" class="thumbnail-img" alt="Thumbnail 3">
                        <img src="./images/product8.png" class="thumbnail-img" alt="Thumbnail 4">
                    </div>
                </div>

                <!-- Product Details -->
                <div class="col-md-6">
                    <h2>Oversize T shirt</h2>
                    <p><span class="text-warning fs-5">&starf; &starf; &starf; &starf; &starf;</span> (3 reviews)</p>
                    <h4>$39.00 <del>$59.00</del> <span class="text-danger">SAVE 37%</span></h4>
                    <p><small>24 people are viewing this right now</small></p>
                    <div class="alert alert-danger">
                        Hurry up! Sale ends in: <span class="sale-timer">00 : 05 : 59 : 47</span>
                    </div>
                    <p><strong>Only 9 item(s) left in stock!</strong></p>

                    <!-- Size Selection -->
                    <div class="mb-3">
                        <strong>Size:</strong>
                        <button class="btn btn-outline-secondary btn-size">M</button>
                        <button class="btn btn-outline-secondary btn-size">L</button>
                        <button class="btn btn-outline-secondary btn-size">XL</button>
                        <button class="btn btn-outline-secondary btn-size">XXL</button>
                    </div>

                    <!-- Color Selection -->
                    <div class="mb-3">
                        <strong>Color:</strong>
                        <button class="btn btn-outline-dark btn-color" style="background-color: #000;"></button>
                        <button class="btn btn-outline-primary btn-color" style="background-color: #3498db;"></button>
                        <button class="btn btn-outline-danger btn-color" style="background-color: #f39c12;"></button>
                    </div>

                    <!-- Quantity -->
                    <div class="mb-3">
                        <strong>Quantity:</strong>
                        <div class="input-group quantity-control">
                            <button class="btn btn-outline-secondary">-</button>
                            <input type="text" value="1" class="form-control">
                            <button class="btn btn-outline-secondary">+</button>
                        </div>
                    </div>

                    <!-- Add to Cart Button -->
                    <button class="btn btn-outline-dark w-100 mb-3" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Add to Cart</button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                        aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h4 class="offcanvas-title" id="offcanvasRightLabel">Shopping Cart</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <p>Buy <b>$122.35</b> more and get <b>Free Shipping</b></p>
                            <div class="row">
                                <div class="col">
                                    <img src="./images/product6.png" alt="Product" width="100%">
                                </div>
                                <div class="col">
                                    <h4 class="fs-6">Oversize T shirt</h4>
                                    <p class="text-muted">Color : Red</p>
                                    <p class="fw-bold">$14.80</p>
                                    <div class="input-group Cartquantity-control">
                                        <button class="btn btn-outline-secondary">-</button>
                                        <input type="text" value="1" class="form-control">
                                        <button class="btn btn-outline-secondary">+</button>
                                    </div>
                                </div>
                                <hr class="mt-2 mb-4">
                                <div class="d-flex mt-5">
                                    <input type="checkbox" id="Check">
                                    <label class="mx-3" for="Check">For <b>$10.00</b> please wrap the product</label>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <b>Subtotal</b>
                                    <b>$100.00</b>
                                </div>
                                <a href="../Demo CheckOut/index.html" class="btn btn-dark">Checkout</a>
                                <a href="../Shopping Cart/index.html" class="text-center text-dark">View Cart</a>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-dark my-1 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">Get Discount</button>
                    <!-- CheckOut Model -->
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-center">
                                    <form class="discountForm">

                                        <span class="DiscountHeading">TAKE 10% OFF.</span>
                                        <p class="DiscountSubheading">Here is your discount! The promo code will be sent
                                            to your email.</p>
                                        <div class="inputContainer">
                                            <input placeholder="Enter your email" type="email" name="email"
                                                id="email-address">
                                            <button type="submit" class="submitButton">Get it!</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Additional Options -->
                    <div class="d-flex justify-content-between my-3">
                        <a href="#" class="text-dark text-decoration-none"><b>&rlarr;</b> Compare</a>
                        <a href="#" class="text-dark text-decoration-none"><b>&quest;</b> Ask a question</a>
                        <a href="#" class="text-dark text-decoration-none"><b class="fs-5">&#10579;</b> Share</a>
                    </div>

                    <!-- Shipping Info -->
                    <p><strong>Estimated Delivery:</strong> Jul 30 - Aug 03</p>
                    <p><strong>Free Shipping & Returns:</strong> On all orders over $75</p>

                    <!-- Secure Checkout -->
                    <div class="secure-checkout mt-3">
                        <img src="./images/checkOut Payment.png" alt="secure-checkout" width="200px">
                        <span class="ms-4"> Guarantee safe & secure checkout</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid mt-5">
            <div class="row mt-5 pt-5">
                <div class="col-md-6 bg-secondary-subtle">
                    <img src="./images/peacky_blinders.png" alt="peacky_blinders" width="100%">
                </div>

                <div class="col-md-6 bg-dark-subtle">
                    <div class="text p-5">
                        <p>Women Collection</p>
                        <h1>Peaky Blinders</h1>
                        <a href="#"
                            class="text-decoration-none text-dark border-bottom border-dark border-2">DESCRIPTION</a>
                        <p class="text-muted mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque
                            duis ultrices
                            sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin. Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Scelerisque duis.</p>

                        <p>Size: <span class="bg-dark text-light rounded px-3">M</span></p>
                        <h3>$100.00</h3>
                        <button class="btn btn-dark px-4">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <img src="./images/features_logos.png" alt="features_logos" width="100%">
        </div>


        <div class="container-fluid my-5">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="text-center">
                        <h4>Follow Us On Instagram</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque <br>
                            duis ultrices sollicitudin
                            aliquam sem. Scelerisque duis ultrices sollicitudin </p>
                    </div>
                </div>
                <div class="col-md-12 mt-5 p-0">
                    <img src="./images/Follow_instagram.png" alt="Follow_instagram" width="100%">
                </div>
            </div>
        </div>


        <div class="container mt-5">
            <div class="row pt-5">
                <div class="col-md-3 mt-5">
                    <img src="./images/NewSleter_Img1.png" alt="NewSleter_Img1" width="100%">
                </div>

                <div class="col-md-6 pt-5">
                    <div class="card mt-5 border-0 shadow text-center">
                        <div class="card-body">
                            <h4 class="card-title">Subscribe To Our Newsletter</h4>
                            <p class="card-text text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Scelerisque
                                duis ultrices sollicitudin aliquam sem.</p>
                            <p class="card-text"><small class="text-body-secondary">michael@ymail.com</small></p>
                            <a href="#" class="btn btn-dark px-3">Subscribe Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-5">
                    <img src="./images/Newsleter_Img2.png" alt="Newsleter_Img2" width="100%">
                </div>
            </div>
        </div>

        <hr>

        <footer class="container">
            <div class="row">
                <div class="col-md-6 d-flex">
                    <h3>FASCO</h3>
                </div>

                <div class="col-md-6">
                    <ul class="navbar-nav d-flex flex-row">
                        <li class="nav-item mx-1"><a href="#" class="text-decoration-none text-dark">Support Center</a>
                        </li>
                        <li class="nav-item mx-1"><a href="#" class="text-decoration-none text-dark">Invoicing</a></li>
                        <li class="nav-item mx-1"><a href="#" class="text-decoration-none text-dark">Careers</a></li>
                        <li class="nav-item mx-1"><a href="#" class="text-decoration-none text-dark">Contract</a></li>
                        <li class="nav-item mx-1"><a href="#" class="text-decoration-none text-dark">FAQs</a></li>
                        <li class="nav-item mx-1"><a href="#" class="text-decoration-none text-dark">Blog</a></li>
                    </ul>
                </div>
            </div>
        </footer>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function updateQuantity(productId, change) {
            const input = event.target.parentElement.querySelector('.quantity-input');
            let value = parseInt(input.value) + change;
            if (value >= 1) {
                input.value = value;
            }
        }
    </script>
</body>

</html>